:root {
  /* bg colors */
  --background: #fff2cc;
  --primary: rgb(14, 2, 2);
  --secondary: #fed049;
  --tertiary: #f4b183;
  --quaternary: #dfa67b;
  --fifth: #ff6969;
  --nav-bg: pink;

  /* text colors */
  --text-black: rgba(7, 0, 0, 0.819);
  --text-white: #f4b183;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

header {
  background: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 70px;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 30px 10px -20px rgb(3, 3, 1);
}

.navbar-list :hover {
  transform: scale(1.2);
  /* background-color: #ff6969; */
}

.logo {
  height: 70%;
}

/* .navbar-list, */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.navbar-list {
  gap: 32px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar-list a {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black);
}

/* .navbar-list li:first-child>a {
    font-weight: 900px;
} */

.carrito {
  height: 45px;
  width: 60px;
  padding: 5px 10px;
  margin-right: 1rem;
  cursor: progress;
  border: solid 2px black;
  border-radius: 25%;
}

main {
  background: var(--background);
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

/* SECTION HERO */

#hero {
  padding: 30px 50px 50px 50px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 40px;
  width: 50%;
}

.hero-info h1 {
  font-size: 40px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: var(--text-black);
}

.hero-info-p1 {
  font-size: 15px;
  font-weight: 500;
  width: 80%;
  color: var(--text-black);
  padding: 0 0 -50px 0;
}

.hero-a1 {
  color: var(--text-black);
  background-color: var(--secondary);
  width: 100px;
  padding: 8px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border: solid;
  border-radius: 15px;
}

.hero-a1:hover {
  background-color: #ff6969;
  transform: scale(1.05);
}

.hero-a2 {
  color: var(--text-black);
  background-color: var(--tertiary);
  width: 100px;
  padding: 8px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border: solid;
  border-radius: 15px;
}

.hero-a2:hover {
  background-color: #ff6969;
  transform: scale(1.05);
}

/* .hero-info a {
    color: var(--text-black);
    background-color: var(--secondary);
    width: 100px;
    padding: 8px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: solid;
    border-radius: 15px;
} */

.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.hero-card {
  width: 300px;
  background: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.img-herocard {
  width: 90%;
  height: 70%;
  padding: 0 0 0 30px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-card-top {
  /* display: flex;
    align-items:right ;
    justify-content:right; */
  gap: 50px;
  padding: 0 0 0 20px;
}

/* .hero-card-top span {
    font-weight: 600;
    font-size: 16px;
    text-align: center;

} */

.hero-card-top h3 {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  /* justify-content: center;
    align-items: center; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow:ellipsis; */
}

.hero-card-bottom {
  background: var(--secondary);

  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.hero-card-creator img {
  width: 80px;
  height: 70px;
}

.hero-card-price {
  font-weight: 600;
}

.hero-card-price p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION DESCRIPTION */

#description {
  padding: 10px 0;
  max-width: 1200px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  /* border-radius: 5px; */

  /* border-style:inset; */

  /* background: var(--tertiary);
    border: solid;
    border-width: 2px;
    border-radius: 15px; */
}

#description p {
  width: 100%;
  text-align: center;
  padding: 10px 110px;
}

/* SECTION INFO  */

#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#info h2 {
  font-size: 32px;
  font-weight: 800;
}

.info-h2-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.img-info-cards {
  width: 60px;
  height: 60px;
}
.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  background-color: var(--secondary);
  width: 300px;
  height: 290px;
  border-radius: 15px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.info-card h3 {
  font-size: 20px;
  font-weight: 18px;
}

.info-card p {
  font-size: 15px;
  font-weight: 300px;
}

/* FOOTER */

footer {
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 15px;
  background: var(--secondary);
  border-top: solid 1px;
  border-bottom: solid 1px;
  flex-wrap: wrap;
  /* margin: 0 45px; */
}

.footer-1 {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  gap: 12px;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.contact-inside {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 10px;
}

.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

p {
  line-height: 1.5;
}

.footer-2 {
  width: 20%;
}

.logo-redes img {
  width: 20px;
}

.logo-redes a:hover {
  transform: scale(1.5);
}

.logo-redes {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  padding: 2px 0 10px 0;
}

.div-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 12px 0;
  background: var(--background);
}
.logo-bottom {
  width: 6%;
}
