:root {
  /* bg colors */
  --background: #fff2cc;
  --primary: rgb(14, 2, 2);
  --secondary: #fed049;
  --tertiary: #f4b183;
  --quaternary: #dfa67b;
  --fifth: #ff6969;
  --nav-bg: pink;

  /* text colors */
  --text-black: rgba(7, 0, 0, 0.819);
  --text-white: #f4b183;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

header {
  /* background: var(--secondary); */
  background: linear-gradient(to bottom, var(--fifth), var(--secondary));
  /* box-shadow: 0 30px 10px -20px rgb(3, 3, 1); */
  box-shadow: rgb(2, 2, 2) 0px 30px 10px -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 70px;
  position: fixed;
  width: 100%;
  /* el widht al 100% soluciona el position fixed */
  top: 0;
  z-index: 2;
}

.navbar-list :hover {
  transform: scale(1.2);
}

.logo {
  height: 70%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.navbar-list {
  gap: 32px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar-list a {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black);
}

.carrito {
  height: 45px;
  width: 60px;
  padding: 5px 10px;
  margin-right: 1rem;
  cursor: pointer;
  border: solid 2px black;
  border-radius: 25%;
}
/* CART LABEL AND INPUT */

#cart-toggle:checked ~ .cart {
  display: flex;
}

.navbar input {
  display: none;
}

/* MENU CARRITO  */

.cart {
  background: linear-gradient(to bottom, var(--fifth), var(--secondary));
  position: absolute;
  top: 90px;
  right: 0;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: scroll;
  border: solid 1px;
  border-radius: 15px 15px;
  height: calc(100vh - 90px);
  z-index: 2;
  display: none;
}

.cart h2 {
  color: var(--text-black);
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.cart-item img {
  width: 65px;
  height: 65px;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.item-title {
  color: var(--text-black);
  font-size: 16px;
  font-weight: 600px;
}

.item-bid {
  color: var(--text-black);
  font-size: 13px;
  font-weight: 400;
}

.item-price {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-black);

  /* background: var(--fifth); */
  /* color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.quantity-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  border: solid 2px;
  border-radius: 5px;
  font-weight: 600;
}

.quantity-item {
  font-weight: 600;
}

.down {
  background: var(--tertiary);
}
.up {
  background: var(--quaternary);
}

.divider {
  margin-top: 15px;
  border: 0.5px solid;
}

.card-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-black);
  font-size: 18px;
  font-weight: 800;
}

.btn-add {
  background: var(--fifth);
  border: 2px solid var(--text-black);
  border-radius: 15px;
  color: var(--text-black);
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

/* MENU HAMBURGUESA */

.navbar i {
  font-size: 34px;
  display: none;
  cursor: pointer;
}

#toggle-menu {
  display: none;
}

/* MAIN */

main {
  background: var(--background);
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* SECTION HERO */

#hero {
  padding: 120px 50px 50px 50px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 40px;
  width: 50%;
}

.hero-info h1 {
  font-size: 40px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  /* color: var(--text-black);
  background: var(--fifth); */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -1px -1px var(--fifth), 1px 1px #020202;
  padding: 5px;
}

.hero-info-p1 {
  font-size: 17px;
  font-weight: 600;
  width: 90%;
  color: var(--text-black);
  padding: 0 0 -50px 0;
}

.hero-a1 {
  color: var(--text-black);
  background-color: var(--secondary);
  /* background: linear-gradient(to bottom, var(--fifth), var(--secondary)); */
  width: 100px;
  padding: 8px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border: solid;
  border-color: var(--fifth);
  border-radius: 15px;
}

.hero-a1:hover {
  background-color: #ff6969;
  transform: scale(1.05);
}

.hero-a2 {
  color: var(--text-black);
  background-color: var(--tertiary);
  width: 100px;
  padding: 8px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border: solid;
  border-color: var(--fifth);
  border-radius: 15px;
}

.hero-a2:hover {
  background-color: #ff6969;
  transform: scale(1.05);
}

/* .hero-info a {
    color: var(--text-black);
    background-color: var(--secondary);
    width: 100px;
    padding: 8px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: solid;
    border-radius: 15px;
} */

.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.hero-card {
  width: 300px;
  /* background: var(--secondary); */
  background: linear-gradient(to bottom, var(--fifth), var(--secondary));
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  box-shadow: rgb(2, 2, 2) 30px 30px 10px -20px;
  border: solid 1px;
}

.img-herocard {
  width: 90%;
  height: 70%;
  padding: 0 0 0 30px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-card-top {
  gap: 50px;
  padding: 0 0 0 20px;
}

.hero-card-top h3 {
  font-weight: 600;
  font-size: 16px;
  display: flex;
}

.hero-card-bottom {
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.hero-card-creator img {
  width: 80px;
  height: 70px;
}

.hero-card-price {
  font-weight: 600;
}

.hero-card-price p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION DESCRIPTION */

#description {
  padding: 10px 0;
  max-width: 1200px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

#description p {
  width: 100%;
  text-align: center;
  padding: 10px 110px;
  max-width: 1050px;
}

/* SECTION INFO  */

#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#info h2 {
  font-size: 32px;
  font-weight: 800;
  background: var(--fifth);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -1px -1px var(--fifth), 1px 1px #020202;
}

.info-h2-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0 30px;
}

.info-h2-p h2 {
  text-align: center;
}

.info-h2-p p {
  text-align: center;
}

.img-info-cards {
  width: 60px;
  height: 60px;
}
.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  /* background-color: var(--secondary); */
  background: linear-gradient(to bottom, var(--fifth), var(--secondary));
  width: 300px;
  height: 290px;
  border-radius: 15px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  box-shadow: rgb(2, 2, 2) 30px 30px 10px -20px;
  border: solid 1px;
}

.info-card h3 {
  font-size: 20px;
  font-weight: 18px;
}

.info-card p {
  font-size: 15px;
  font-weight: 300px;
}

/* FOOTER */

footer {
  /* max-width: 1200px; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 15px;

  background: linear-gradient(to bottom, var(--fifth), var(--secondary));
  border-top: solid 1px;
  border-bottom: solid 1px;
  flex-wrap: wrap;
}

.footer-1 {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  gap: 12px;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.contact-inside {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 10px;
}

.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer-1 h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 1000;
}

.contact-inside h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.contact-inside li {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

p {
  line-height: 1.5;
}

.footer-2 {
  width: 20%;
}

.logo-redes img {
  width: 20px;
}

.logo-redes a:hover {
  transform: scale(1.5);
}

.logo-redes {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  padding: 2px 0 10px 0;
}

.div-logo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 0;
  background: var(--background);
}
.logo-bottom {
  width: 80px;
  height: 35px;
}

/* MEDIAQUERIES TABLET                             TABLET                               TABLET */
@media (max-width: 992px) {
  .navbar-list {
    position: absolute;
    top: 90px;
    left: 50%;
    right: 5%;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(to left, var(--fifth), var(--secondary));
    border: solid 1px;
    border-radius: 0 0 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
  .navbar i {
    display: block;
  }

  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }
  .navbar {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero-info {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .hero-info h1 {
    width: 90%;
    font-size: 30px;
  }
  .hero-info p {
    width: 100%;
    max-width: 600px;
  }

  .hero-card {
    display: none;
  }

  #description p {
    padding: 0 25px;
  }
}

/* MEDIAQUERIES MOBILE  MOBILE                        MOBILE                              MOBILE*/
@media (max-width: 576px) {
  .navbar-list {
    background: linear-gradient(to left, var(--fifth), var(--secondary));
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: calc(60vh - 90px);
    position: absolute;
    top: 90px;
    left: 50%;

    padding: 0 0 0 30px;
    border: solid 1px;
    border-radius: 0 0 3px 3px;
    gap: 25px;
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row-reverse;
  }

  .navbar i {
    display: flex;

    /* justify-content: left; */
    /* align-items: center; */
  }

  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }

  .cart {
    left: 0;
    width: 100%;

    border-radius: 0;
  }

  .cart.item {
    flex-wrap: wrap;
  }

  .footer-contact {
    flex-wrap: wrap;
    gap: 25px;
  }

  .logo-redes {
    display: flex;
    justify-content: center;
  }
  iframe {
    display: flex;
    align-items: flex-start;
  }

  #hero {
    width: 100%;
  }
  .hero-info h1 {
    padding: 0 30px;
  }

  .botones {
    gap: 20px;
  }

  .footer-1 h2 {
    padding: 0 30px;
  }
}
